.App-header {
  background-color: #222;
  height: 25px;
  padding: 5px 0px 5px 30px;
  color: white;
  font-size: 1.17em;
}

.content {
  padding: 20px;
}

.vitamin {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 10px 0px 10px;
  padding: 6px 0px 0px 8px;
  box-sizing: border-box;
  background-color: #222;
  color: white
}

.inactive.vitamin {
  color: #222;
  background-color: white
}

.b1.vitamin {
  padding-left: 4px;
}

.food-meals{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%
  
}

li.food.item {
  list-style-image: url("/food.png");
}

li.featured.food.item {
  color: #0C8A19;
  list-style-image: url("/food-featured.png");
}

li.food.category {
  cursor: pointer;
}

li.open.food.category {
  list-style-image: url("/restaurant-menu.png");
}

li.closed.food.category {
  list-style-image: url("/closed-menu.png");
}

.food-meals > div {
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
}

.food{
  flex-grow: 1;
  margin-right: 10px;
}

.meals{
  flex-grow: 4
}

.meals-cell {
  height: 20px;
  width: 100px;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  margin-right: 5px;
  position: relative;
}

.meals-table{
  display: flex;
  flex-direction: column;
}

.meals-row{
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.selectable.meals-row:hover > .meals-cell {
  background-color: lightslategray;
}

.future.meals-cell {
  border-style: dashed;
  opacity: 0.5;
}

.remove.meal{
  background-image: url("/recycle-bin.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  height: 16px;
  width: 37px;
  margin-top: 11px;
  margin-right: 5px;
  visibility: hidden;
}

.confirm.remove.meal{
  background-image: none;
  position: relative;
}

.confirm.remove.meal > .accept {
  background-image: url("/check-mark.png");
  height: 16px;
  width: 16px;
}

.confirm.remove.meal > .reject {
  background-image: url("/cross-sign.png");
  height: 16px;
  width: 16px;
  left: 19px;
  top: 0px;
  position: absolute;
}

.selectable.meals-row:hover > .remove.meal{
  visibility: visible;
}

.meals-quantity {
  height: 16px;
  width: 16px;
  position: absolute;
}

.decrease.meals-quantity {
  background-image: url("/minus.png");
  top: 11px;
  left: 20px;
}
.increase.meals-quantity {
  background-image: url("/add.png");
  top: 11px;
  left: 80px;
}

.counter.meals-quantity {
  top: 11px;
  left: 50px;
}

.messages > .message {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: row;
}

.messages > .error.message {
  background-color: #cc0000;
}

.messages > .info.message {
  background-color: #29a329;
}

.messages {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.save-meals {
  padding: 8px;
  margin-top: 20px;
}